body {
  background: #eaeaea;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180vw;
  height: 300vh;
  background: #ccc;
}
.wholeContainer{
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}
.container {
  width: 210mm;
  min-height: 297mm;
  background: white;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x:scroll;
  .border{
    width: 90%;
    height: 92.5%;
    border: 2px solid #000;
    overflow: hidden;
    overflow-x: hidden;
    .header{
        width: 100%;
        height: 25%;
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column; 
        .titleName{
            width: 100%;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            h2{
                font-size: 15px;
                color: Red;
            }
        }
        .inp{
            width: 100%;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            input{
                width: 200px;

            }
        }
        .empty{
            border: none;
            cursor: pointer;    
        }
        .getFirstRow{
            margin-left: -12px;
        }
        .getSecondRow{
            margin-left: 2px; 
        }
        .getThirdRow{
            display: flex;
            align-items: center;
            justify-content: start;
            margin-left: 4px;
        }
        .getFourthRow{
            display: flex;
            align-items: center;
            justify-content: start;
            margin-left: 4px;
        }
        .getFifthRow{
            width: 100%;
            h5{
                transform: translateX(-74px);
            }
            select{
                border: none;
                font-size: 15px;
                font-weight: 600;
            }
            input{
                width: 120px;
            }
        }
    }
    .centerpage{
        width: 100%;
        height: 20%;
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        padding: 5px;   
        margin-top: 15px;
    }
    .cen{
        width: 100%;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: start;
        h5{
            font-size: 14px;
            font-weight: 500;
        }
        p{
            color: blue;
            font-weight: 500;
            font-size: 15px;
        }
        h6{
            margin-left: 200px;
            font-size: 15px;
            font-weight: 500;
            span{
                color: darkcyan;
            }
        }
    }
    .cenTwoLefAndRigh{
        width: 98.5%;
        height: 100%;
        margin-top: 14px;
        display: flex;
        align-items: center;
        flex-direction: row;
        .leftCen{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: start;
            input{
                padding: 5px;
                width: 60%;
                border-radius: 2px;
            }
        }
        .righCen{
            width: 50%;
            height: 100%;
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;
            .colCen{
                display: flex;
                width: 100%;
                height: 25px;
                flex-direction: row;
                input{
                    width: 50px;
                }
                p{
                    width: 25px;
                    height: 18px;
                    font-size: 12px;
                }
            }
            input{
                width: 200px;
            }

        }
    }
    .addressBar{
        width: 100%;
        height: 25%;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        overflow: hidden;
        margin-left: 5px;   
        .addFirst{
            width: 100%;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: start;
            h5{
                color: blue;
                font-size: 15px;    
            }
        }
        .addSec{
            width: 100%;
            height: 30px;
        }
        .addThree{
            width: 100%;
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .topSideP{
                p{
                    color: #ccc;
                    font-family: 'poppins', sans-serif;
                }
            }
            .botSideP{
                transform: translateY(25px) translateX(-14px) ;
                p{
                    color: #ccc;
                    font-family: 'poppins', sans-serif;
                }
            }
        }
    }
    .bottomPage{
        width: 100%;
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        .leftBotPage{
            width: 35%;
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: start;
            margin-bottom: 30px;
            .inpGetImages{
                height: 10px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: start;
                flex-wrap: wrap;
                flex-direction: row;
            }
        }
        .righBotPage{
            width: 70%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            img{
                width: 125px;
                height: 220px;
                overflow: hidden;
            }
        }
    }
  }
}
.finishUp{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    flex-direction: column;
    position: absolute;
    top: 1200px;
    left: 1200px;
    bottom: 0%;
    button{
        padding: 15px 10px;
        margin-left: 5px;
        width: 150px;
        border: 2px solid transparent;
        border-radius: 4px;
        font-family: 'poppins', sans-serif;
        box-shadow: 0 0 4px #000 inset;
        transition: all 0.4s;
        cursor: pointer;
    }
    .clBTN{
        color: Green;
        background: transparent;    
        border: 2px solid green;
    }
    .clBTN:hover{
        color: #000;
        background: lightgreen;
    }
    .reBTN{
        color: yellow;
        background: transparent;    
        border: 2px solid yellow;
        box-shadow: 0 0 4px lightgoldenrodyellow inset;
    }
    .reBTN:hover{
        color: #000;
        background: yellow;
    }
}

// Optional Targeting all input tag Reference
input{
    border: none;
    font-size: 15px;
    margin-left: 4px;
}
span{
    font-size: 14px;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
}

// Second Page Started
.secondContainer{
  width: 210mm;
  min-height: 297mm;
  background: white;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .borders{
    width: 190mm;
    height: 280mm;
    border: 2px solid #000;
    overflow: hidden;
    .topViewSec{
        width: 100%;
        height: 250px;
        display: flex;
        align-items: start;
        padding-top: 20px;
        flex-direction: column;
    }
    .nextViewSecTwo{
        width: 70%;
        height: 200px;
        display: flex;
        align-items: center;
        flex-direction: row;
        .firRowLet{
            width: 100px;
            height: 70%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
        }
        .secRowLet{
            width: 100px;
            height: 70%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
        }
        .thirdRowLet{
            width: 250px;
            height: 70%;
            display: flex;
            align-items: start;
            font-weight: 700;
            justify-content: center;
        }
        .fouRowLet{
            width: 200px;
            height: 70%;
            display: flex;
            align-items: start;
            flex-direction: column;
            justify-content: start;
        }
    }
    .empty{
        width: 100%;
        height: 30%;
    }
    .bottomSecPage{
        width: 100%;
        height: 40%;
        form{
            width: 70%;
            table tr{
                width: 200px;
                td{
                    width: 500px;
                }   
            }
        }
    }
  }
}
.printWrapper{
    width: 210mm;
    display: flex;
    flex-direction: column;
}
.container,
.secondContainer {
  width: 210mm;
  height: 297mm; /* Prevent overflow */
}
